<!DOCTYPE html>
<html>
<head>
  <title>Add Patient</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
  <link href="/css/style.css" rel="stylesheet">
</head>
<body>
  <% include ../common/nav %>

  <div class="section no-pad-bot full-page" id="index-banner">
    <div class= "valign-wrapper">
      <div class="valign container">
        <div class="card white lighten-5">
          <div class="card-content">
            <div class="row">
              <form class = "col s12 center" action="/dashboard/add-patient" method="POST">


                <!-- //////// row 1 ////////-->
                <div class = "row">
                  <div class="col s6 input-field">
                    <input class="firstName" type="text" name="firstName" placeholder="First Name" />
                  </div>
                  <div class="col s6 input-field">
                    <input class="lastName" type="text" name="lastName" placeholder="Last Name" />
                  </div>
                </div>

                <!-- //////// row 2 ////////-->
                <div class = "row">
                  <div class="col s12 input-field">
                    <input class="healthCard" type="text" name="healthCard" placeholder="Health Card #" />
                  </div>

                </div>
                <!-- //////// row 3 /////////-->
                <div class = "row">

                  <div class="col s6 input-field">
                    <input class="birthday datepicker" type="date" name="birthday" placeholder="Date of Birth" />
                  </div>
                  <div class="gender col s6 input-field" name="gender">
                    <select>
                      <option value="" disabled selected>Gender</option>
                      <option value="1">Male</option>
                      <option value="2">Female</option>
                      <option value="other">Other</option>
                    </select>

                  </div>

                </div>
                <!-- //////// row 4 /////////-->
                <div class = "row">

                  <div class="col s12 input-field">
                    <input class="conditionName" type="text" name="conditionName" placeholder="Condition Name" />
                  </div>

                </div>

                <!-- //////// row 5 /////////-->
                <div class = "row">
                  <div class="col s6 input-field">
                    <select class="severity" name="conditionSeverity" placeholder="Severity">
                      <option value="" disabled selected>Severity</option>
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                      <option>6</option>
                      <option>7</option>
                      <option>8</option>
                      <option>9</option>
                      <option>10</option>
                    </select>
                  </div>

                  <div class = "col s6 input-field">
                    <input class="waitTime" type="number" name="conditionWaitTime" placeholder="Visit Duration (mins)"/>
                  </div>
                </div>

                <!-- //////// row 6 /////////-->

                <div class = "row">

                  <div class="col s12 input-field">
                    <textarea class="description materialize-textarea" name="description" placeholder="Description"></textarea>
                  </div>

                </div>

                <!-- //////// Add Patient /////////-->

                <div class="row">
                  <a id="submit-button" class="submit btn-large red darken-1" type="submit">Add Patient</a>
                </div>

              </form>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
  <script>
  $(document).ready(function() {
    $('select').material_select();
    Materialize.updateTextFields();
  });

  $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 15 // Creates a dropdown of 15 years to control year
  });

  $('#textarea1').val('New Text');
  $('#textarea1').trigger('autoresize');
  </script>
</body>
</html>
