<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>ERWatch - Home</title>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
  <link href="/css/style.css" rel="stylesheet">

</head>
<body>
  <% include ../common/nav %>

  <div class="large-padding-top container">
    <div class="row">
      <div class="col s12">
        <p class="flow-text">Add a new patient</p>
      </div>


    </div>
  </div>

  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>

  <script>
    $(document).ready(function() {

    });
  </script>
</body>
</html>-->


<!DOCTYPE html>
<html>
  <head>
    <title>Add Patient</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <ul>
      <% if (user) { %>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/logout">Log out</a></li>
      <% } else { %>
        <li><a href="/login">Log in</a></li>
        <li><a href="/signup">Sign up</a></li>
      <% } %>
    </ul>

    <form action="/dashboard/add-patient" method="POST">
      <input class="firstName" type="text" name="firstName" placeholder="First Name" /><br>
      <input class="lastName" type="text" name="lastName" placeholder="Last Name" /><br>
      <input class="healthCard" type="text" name="healthCard" placeholder="Health Card" /><br>
      <select class="gender" name="gender">
        <option>Male</option>
        <option>Female</option>
        <option>Other</option>
      </select><br>
      <input class="birthday" type="date" name="birthday" placeholder="Birthday" /><br>
      <input class="conditionName" type="text" name="conditionName" placeholder="Condition Name" /><br>
      <textarea class="description" name="description"></textarea>
      <select class="severity" name="conditionSeverity">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>
        <option>10</option>
      </select><br>
      <input class="waitTime" type="number" name="conditionWaitTime" /><br>
      <input class="submit" type="submit" />
    </form>
  </body>
</html>
