<!DOCTYPE html>
<html>
<head>
  <title>Add Patient</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
  <link href="/css/style.css" rel="stylesheet">
</head>
<body>
  <% include ../common/nav %>

  <div class="section no-pad-bot full-page" id="index-banner">
    <div class= "valign-wrapper">
      <div class="valign container">
        <div class="card white lighten-5">
          <div class="card-content">
            <div class="row">
              <form class="add-patient col s12 center" action="/dashboard/add-patient" method="POST">


                <!-- //////// row 1 ////////-->
                <div class = "row">
                  <div class="col s12 l6 input-field">
                    <label for="firstName">First Name</label>
                    <input class="firstName validate" type="text" name="firstName" required />
                  </div>
                  <div class="col s12 l6 input-field">
                    <label for="lastName">Last Name</label>
                    <input class="lastName validate" type="text" name="lastName" required />
                  </div>
                </div>

                <!-- //////// row 2 ////////-->
                <div class = "row">
                  <div class="col s12 input-field">
                    <label for="healthCard">Health Card</label>
                    <input class="healthCard validate" type="text" name="healthCard" required />
                  </div>

                </div>
                <!-- //////// row 3 /////////-->
                <div class = "row">
                  <div class="col s12 l6 input-field">
                    <label for="birthday">Date of birth</label>
                    <input class="birthday datepicker validate" type="text" name="birthday" required />
                  </div>
                  <div class="col s12 l6 input-field">
                    <select class="gender validate" name="gender">
                      <option value="" disabled selected>Gender</option>
                      <option value="Male">Male</option>
                      <option value="Female">Female</option>
                      <option value="other">Other</option>
                    </select>

                  </div>

                </div>
                <!-- //////// row 4 /////////-->
                <div class = "row">
                  <div class="col s12 input-field">
                    <label for="conditionName">Condition Name</label>
                    <input class="conditionName validate" type="text" name="conditionName" required />
                  </div>
                </div>

                <!-- //////// row 5 /////////-->
                <div class = "row">
                  <div class="col s6 input-field">
                    <select class="severity validate" name="conditionSeverity" placeholder="Severity" required>
                      <option value="" disabled selected>Severity</option>
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                      <option>6</option>
                      <option>7</option>
                      <option>8</option>
                      <option>9</option>
                      <option>10</option>
                    </select>
                  </div>

                  <div class="col s6 input-field">
                    <label for="conditionWaitTime">Appointment Duration (minutes)</label>
                    <input class="waitTime validate" type="number" name="conditionWaitTime" required />
                  </div>
                </div>

                <!-- //////// row 6 /////////-->

                <div class = "row">
                  <div class="col s12 input-field">
                    <label for="description">Condition Description</label>
                    <textarea class="description materialize-textarea validate" name="description" required></textarea>
                  </div>
                </div>

                <!-- //////// Add Patient /////////-->
                <div class="row center">
                  <input id="submit-button" class="submit btn-large red darken-1" type="submit" value="Add Patient" />
                </div>

              </form>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- Modal Structure -->
  <div id="success-modal" class="modal">
    <div class="modal-content">
      <h4>Success!</h4>
      <p>The patient was successfully added to the system</p>
    </div>
    <div class="modal-footer">
      <a class="btn modal-action modal-close btn-flat">Okay</a>
    </div>
  </div>

  <div id="error-modal" class="modal">
    <div class="modal-content">
      <h4>Error!</h4>
      <p>Something seems to have gone wrong. Please try again later</p>
    </div>
    <div class="modal-footer">
      <a class="btn modal-action modal-close btn-flat">Okay</a>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
  <script src="/js/scripts.js"></script>
  <script>
  $(document).ready(function() {
    $('select').material_select();
    Materialize.updateTextFields();

    $('.datepicker').pickadate({
      selectMonths: true, // Creates a dropdown to control month
      selectYears: 15 // Creates a dropdown of 15 years to control year
    });

    $('.add-patient').submit(function(e) {
      $.post('/dashboard/add-patient', $('.add-patient').serialize(), function(res) {
        if (res.err) {
          $('#error-modal').openModal({
            complete: function() {
              window.location.href = "/dashboard";
            }
          });
        } else {
          $('#success-modal').openModal({
            complete: function() {
              window.location.href = "/dashboard";
            }
          });
        }
      });

      return false;
    });
  });
  </script>
</body>
</html>
