<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <ul>
      <% if (user) { %>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/logout">Log out</a></li>
      <% } else { %>
        <li><a href="/login">Log in</a></li>
        <li><a href="/signup">Sign up</a></li>
      <% } %>
    </ul>

    <p>
      <a href="/dashboard/add-patient">Add Patient</a>
    </p>
  </body>
</html>
