<!DOCTYPE html>
<html>
  <head>
    <title>Error</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <h1>ERROR</h1>
    <p>Something went wrong :(</p>
    <ul>
      <% if (user) { %>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/logout">Log out</a></li>
      <% } else { %>
        <li><a href="/login">Log in</a></li>
        <li><a href="/signup">Sign up</a></li>
      <% } %>
    </ul>
  </body>
</html>
