<!DOCTYPE html>
<html>
  <head>
    <title>Log in</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <form action="/login" method="POST">
      <input class="email" type="text" name="email" placeholder="Email" /><br>
      <input class="password" type="password" name="password" placeholder="Password" /><br>
      <input class="submit" type="submit" />
    </form>
  </body>
</html>
