<!DOCTYPE html>
<html>
<head>
  <title>Log in</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
  <link href="/css/style.css" rel="stylesheet">
</head>
<body>
  <% include common/nav %>

  <div class="section no-pad-bot full-page" id="index-banner">
    <div class= "valign-wrapper">
      <div class="valign container">

        <div class="row center">
          <h5 class="header col s12 light">Log in</h5>
        </div>
        <div class="row">
          <div class="col s12 l2"></div>
          <form class="col s12 l8" action="/login" method="POST">
            <div class="row">
              <div class="input-field col s12">
                <label for="email">Email</label>
                <input id="email" name="email" type="email" class="validate" placeholder="Email" autocomplete="off">
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <label for="password">Password</label>
                <input id="password" name="password" type="password" class="validate" placeholder="Password" autocomplete="off">
              </div>
            </div>

            <input class="submit btn red darken-1" type="submit" />
          </form>

        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
  <script src="/js/scripts.js"></script>
  <script>
  $(document).ready(function() {
    $('select').material_select();
    Materialize.updateTextFields();
  });
  </script>
</body>
</html>
