<!DOCTYPE html>
<html>
  <head>
    <title>Sign up</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <form action="/signup" method="POST">
      <input class="firstName" type="text" name="firstName" placeholder="First Name" /><br>
      <input class="lastName" type="text" name="lastName" placeholder="Last Name" /><br>
      <input class="email" type="text" name="email" placeholder="Email" /><br>
      <input class="password" type="password" name="password" placeholder="Password" /><br>
      <input class="submit" type="submit" />
    </form>
  </body>
</html>
