<!DOCTYPE html>
<html>
  <head>
    <title>Visit information</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <ul>
      <% if (user) { %>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/logout">Log out</a></li>
      <% } else { %>
        <li><a href="/login">Log in</a></li>
        <li><a href="/signup">Sign up</a></li>
      <% } %>
    </ul>
    <p>
      <% if (typeof waitTime !== 'undefined') { %>
        <%= waitTime %>
      <% } else { %>
        <%= msg %>
      <% } %>
    </p>
  </body>
</html>
