<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>

  <title><%= waitTime %> mins remaining</title>
  <link rel="shortcut icon" href="/images/favicon.ico" sizes="256x256">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
  <link href="/css/style.css" rel="stylesheet">

</head>
<body>
  <% include common/nav %>
  <div class="full-page">
    <div class= "large-padding-top valign-wrapper">
      <div class="valign container">
        <div class="row">
          <div class="center-align col s12">
            <div class="large statistic">
              <span class="number"><%= waitTime %></span>
              <span class="caption flow-text">MINS REMAINING</span>
              <span class="foot">Estimated admission time: <%= expectedDate %></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
  <script src="/js/scripts.js"></script>
</body>
</html>
