body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.full-page {
  display: flex;
  flex-flow: column;
  height: 100vh;
}

.full-page .valign-wrapper {
  flex: 1 1 auto;
}
