.full-page {
  display: flex;
  flex-flow: column;
  height: calc(100vh - 64px); /* 64px being the height of the nav */
}

.full-page .valign-wrapper {
  flex: 1 1 auto;
}

.btn.btn-border {
  background: transparent;
  border: 1px solid #fff;
  color: #fff !important;
}

.btn.btn-border:hover {
  background: white;
  color: black !important;
}

.padding-right {
  padding-right: 10px;
}

.padding-top {
  padding-top: 10px;
}

.large-padding-top {
  padding-top: 2em;
}

.btn {
  cursor: pointer !important;
}

.statistic {
  line-height: 1;
}

.large.statistic .number {
  font-size: 40vw !important;
}

.small.statistic .number {
  font-size: 15vw !important;
}

.large.statistic .caption {
  font-size: 3rem !important;
  font-weight: 500 !important;
}

.small.statistic .caption {
  font-size: 1.25rem !important;
  font-weight: 400 !important;
}

.large.statistic .foot {
  font-size: 2rem !important;
}

.small.statistic .foot {
  font-size: 1rem !important;
}

.statistic .number {
  font-weight: 700;
  margin: 0px;
  display: block;
}

.statistic .caption {
  display: block;
}

.statistic .foot {
  font-weight: 300;
  display:block;
}
