<nav class="blue-grey darken-4" role="navigation">
  <div class="nav-wrapper container">
    <!-- Mobile hamburger button -->
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>

    <a id="logo-container" href="/" class="brand-logo"><b>ERWatch</b></a>

    <ul class="right hide-on-med-and-down">
      <% if (user) { %>
        <li><span class="padding-right">Welcome back, <%= user.firstName %>!</span></li>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/logout" class="btn btn-flat btn-border">Log out</a></li>
      <% } else { %>
        <li><a href="/login" class="btn btn-flat btn-border">Log in</a></li>
        <li><a href="/signup" class="btn btn-flat btn-border">Sign up</a></li>
      <% } %>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <% if (user) { %>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/logout">Log out</a></li>
      <% } else { %>
        <li><a href="/login">Log in</a></li>
        <li><a href="/signup">Sign up</a></li>
      <% } %>
    </ul>
  </div>
</nav>
